.hometest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hometest h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hometest p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hometest button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hometest button:hover {
    transform: scale(1.1);
}