/* DiscordPage.css */

.home {
    display: flex;
    height: 100vh;
    background-color: rgb(49, 51, 56);
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.home p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home button:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #2c3034;
    color: white;
}

.sidebar-left {
    width: 72px;
    height: 100%;
    background-color: #1e1f22;
    color: white;
}

.sidebar-right {
    width: 240px;
    height: 100%;
    background-color: #27292d;
    color: white;
}

.content {
    flex: 1;
}