.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/bglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.register-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 784px;
    padding: 32px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
}

.register-container h1 {
    text-align: center;
}

.register-container.dark {
    background-color: rgb(49, 51, 56);
    color: #fff;
    border-color: #2f3136;
}

.register-container.dark h1 {
    color: #fff;
}

.register-container.dark .form-group label {
    color: #b9bbbe;
}

.register-container.dark input {
    background-color: #202225;
    color: #fff;
    border: 1px solid #202225;
}

.register-container.dark button {
    background-color: rgb(88, 101, 242);
    color: #fff;
}

.register-container .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.register-container label {
    display: block;
    margin-bottom: 5px;
}

.register-container input {
    padding: 10px;
    border-radius: 5px;
}

.register-container button {
    display: block;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin: 25px 0 10px 0;
    font-size: 16px;
}

.link-register {
    font-size: 14px;
    color: rgb(0, 168, 252);
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 0px 30px 0px 30px;
    }
}