.chat-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
    padding: 10px 16px 24px 16px;
}

.chat-messages {
    gap: 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    border-radius: 4px;
}

.message {
    display: flex;
    flex-direction: column;
}

.message-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.author {
    font-size: 16px;
    color: rgb(230, 126, 34);
    width: min-content;
}

.author:hover {
    text-decoration: underline;
}

.datetime {
    font-size: 12px;
    color: rgb(152, 154, 162);
}

.message-text {
    font-size: 16px;
    color: rgb(224, 225, 229);
}

.chat-input {
    background-color: rgb(56, 58, 64);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    position: relative;
    padding: 11px 10px 11px 20px;
    height: 22px;
}

.chat-input:focus {
    outline: none;
}

.chat-input::placeholder {
    color: rgb(109, 111, 120);
}