.server-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.server-form-modal-content {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.server-form-modal-content input[type="text"] {
    background-color: #393c43;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

.server-form-modal-content form div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel {
    background-color: #e63c3c !important;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}