/* Sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #2f3136;
    color: white;
    height: 100%;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #393c43;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    flex-grow: 1;
    overflow: auto;
}

.sidebar-footer {
    display: flex;
    background-color: #2f3136;
    justify-content: center;
}

.sidebar-footer button {
    padding: 0;
    background-color: rgb(230, 60, 60) !important;
}

.sidebar-item {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-item:hover {
    background-color: #2f3136;
}

.sidebar-item:hover>img {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.sidebar-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
    .sidebar-header h2 {
        display: none;
    }
    .sidebar button {
        font-size: 1rem !important;
        padding: 5px !important;
    }
    .sidebar {
        width: auto
    }
    .sidebar-items {
        padding: 3px;
        gap: 0px;
    }
    .sidebar-item {
        background-color: #00000000;
    }
}