body {
    padding: 0;
    margin: 0;
    font-family: 'Sono', sans-serif;
}

/* Hide scrollbar in Firefox */
* {
    scrollbar-width: none;
}

/* Style scrollbar for webkit-based browsers */
::-webkit-scrollbar {
    width: 10px;
    background-color: #555555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #777777;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}